// page-home {

// }

ion-grid{
    width: 100%;
    height:100%;
    align-items: center;
    align-content: center;
    justify-items: center;
}

ion-row{
    width:100%;
    height: 25%;
    //border: 1px solid black;
}

// ion-col{
//     text-align: center;
// }
// ion-col:hover{
//     background-color: beige;
// }

.col-chi{
    background-image: url("../assets/imgs/Chinese_CH.jpg");
    background-size: cover;
    background-position: center;
}

.col-chi, .col-ind, .col-mal, .col-oth, .col-food, .col-lang{
    text-align: center;
}

